@import 'tailwindcss';

@plugin "@tailwindcss/typography";

/* Container */

@utility container {
    margin: 0 auto;
    padding: 0 0.75rem;
    max-width: 100%;
    @media screen and (min-width: 640px) {
        max-width: 100%;
    }
    @media screen and (min-width: 768px) {
        max-width: 48rem;
    }
    @media screen and (min-width: 1024px) {
        max-width: 64rem;
    }
    @media screen and (min-width: 1280px) {
        max-width: 80rem;
    }
    @media screen and (min-width: 1440px) {
        max-width: 90rem;
    }
}

/* Theme */

@theme {
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-weight-base: var(--font-weight-normal);
    --font-weight-highlight: var(--font-weight-medium);
    --font-weight-headline: var(--font-weight-medium);

    --text-tiny: 0.75rem;
    --text-small: 0.875rem;
    --text-base: 1.125rem;
    --text-large: 1.25rem;
    --text-h0: clamp(2.5rem, 0rem + 6.25vw, 5rem);
    --text-h1: clamp(2.5rem, 1rem + 3.75vw, 4rem);
    --text-h2: clamp(2rem, 1rem + 2.5vw, 3rem);
    --text-h3: clamp(1.75rem, 1rem + 1.875vw, 2.5rem);
    --text-h4: clamp(1.5rem, 1rem + 1.25vw, 2rem);
    --text-h5: 1.5rem;
    --text-h6: 1.25rem;

    --radius-none: 0rem;
    --radius-2xs: 0.125rem;
    --radius-xs: 0.25rem;
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.625rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.25rem;
    --radius-4xl: 1.5rem;
    --radius-5xl: 2rem;
    --radius-full: 999rem;

    --spacing-none: 0rem;
    --spacing-theme-2xs: 0.125rem;
    --spacing-theme-xs: 0.25rem;
    --spacing-theme-sm: 0.375rem;
    --spacing-theme-md: 0.5rem;
    --spacing-theme-lg: 0.75rem;
    --spacing-theme-xl: 1rem;
    --spacing-theme-2xl: 1.25rem;
    --spacing-theme-3xl: 1.5rem;
    --spacing-theme-4xl: 2rem;
    --spacing-theme-5xl: 2.5rem;
    --spacing-theme-6xl: 3rem;
    --spacing-theme-7xl: 4rem;
    --spacing-theme-8xl: 5rem;
    --spacing-theme-9xl: 6rem;
    --spacing-theme-10xl: 8rem;
    --spacing-theme-11xl: 10rem;

    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 90rem;

    --color-border-primary: var(--color-neutral-950);
    --color-border-secondary: var(--color-neutral-300);
    --color-border-tertiary: #4e4e56;
    --color-border-alternate: var(--color-neutral-25);
    --color-border-brand-primary: var(--color-system-success-200);
    --color-border-brand-secondary: var(--color-system-success-400);
    --color-border-brand-tertiary: var(--color-brand-white);
    --color-border-success: var(--color-system-success-400);
    --color-border-error: var(--color-system-error-500);
    --color-border-warning: var(--color-system-warning-400);
    --color-border-info: var(--color-system-info-500);

    --color-text-primary: #27272a;
    --color-text-secondary: var(--color-neutral-600);
    --color-text-tertiary: var(--color-neutral-300);
    --color-text-alternate: var(--color-neutral-25);
    --color-text-brand-primary: var(--color-brand-primary-500);
    --color-text-brand-secondary: var(--color-brand-secondary-300);
    --color-text-brand-tertiary: var(--color-brand-white);
    --color-text-success: var(--color-system-success-400);
    --color-text-error: var(--color-system-error-500);
    --color-text-warning: var(--color-system-warning-400);
    --color-text-info: var(--color-system-info-500);

    --color-brand-black: #27272a;
    --color-brand-white: #ffffff;
    --color-brand-primary-25: #fafbf9;
    --color-brand-primary-50: #f7f8f5;
    --color-brand-primary-100: #e6eae2;
    --color-brand-primary-200: #d9dfd3;
    --color-brand-primary-300: #bac4b1;
    --color-brand-primary-400: #94a286;
    --color-brand-primary-500: #738364;
    --color-brand-primary-600: #5c6a4f;
    --color-brand-primary-700: #4a5540;
    --color-brand-primary-800: #3d4536;
    --color-brand-primary-900: #33392e;
    --color-brand-primary-950: #191d16;
    --color-brand-secondary-25: #fbfef6;
    --color-brand-secondary-50: #f5fce9;
    --color-brand-secondary-100: #e7f7d0;
    --color-brand-secondary-200: #d1f0a6;
    --color-brand-secondary-300: #b7e57b;
    --color-brand-secondary-400: #95d447;
    --color-brand-secondary-500: #76b929;
    --color-brand-secondary-600: #5a941c;
    --color-brand-secondary-700: #45711a;
    --color-brand-secondary-800: #3a5a1a;
    --color-brand-secondary-900: #324d1a;
    --color-brand-secondary-950: #182a09;
    --color-brand-tertiary-25: #ffffff;
    --color-brand-tertiary-50: #ffffff;
    --color-brand-tertiary-100: #ffffff;
    --color-brand-tertiary-200: #ffffff;
    --color-brand-tertiary-300: #ffffff;
    --color-brand-tertiary-400: #ffffff;
    --color-brand-tertiary-500: #ffffff;
    --color-brand-tertiary-600: #ffffff;
    --color-brand-tertiary-700: #ffffff;
    --color-brand-tertiary-800: #ffffff;
    --color-brand-tertiary-900: #ffffff;
    --color-brand-tertiary-950: #ffffff;
    --color-system-success-25: #f5fdf9;
    --color-system-success-50: #f0fdf5;
    --color-system-success-100: #dcfce8;
    --color-system-success-200: #bbf7d1;
    --color-system-success-300: #86efad;
    --color-system-success-400: #4ade80;
    --color-system-success-500: #22c55e;
    --color-system-success-600: #16a34a;
    --color-system-success-700: #15803c;
    --color-system-success-800: #166533;
    --color-system-success-900: #14532b;
    --color-system-success-950: #052e14;
    --color-base-black: #000000;
    --color-base-white: #ffffff;
    --color-neutral-25: #fdfdfd;
    --color-neutral-100: #eeeef0;
    --color-neutral-200: #e5e5e5;
    --color-neutral-300: #d4d4d4;
    --color-neutral-400: #94959c;
    --color-neutral-500: #737373;
    --color-neutral-600: #525252;
    --color-neutral-700: #404040;
    --color-neutral-800: #262626;
    --color-neutral-900: #181818;
    --color-neutral-950: #0a0a0a;
    --color-system-error-25: #fefafa;
    --color-system-error-50: #fef2f2;
    --color-system-error-100: #fee2e2;
    --color-system-error-200: #fecaca;
    --color-system-error-300: #fca5a5;
    --color-system-error-400: #f87171;
    --color-system-error-500: #ef4444;
    --color-system-error-600: #dc2626;
    --color-system-error-700: #b91c1c;
    --color-system-error-800: #991b1b;
    --color-system-error-900: #7f1d1d;
    --color-system-error-950: #450a0a;
    --color-system-warning-25: #fffcf4;
    --color-system-warning-50: #fffaeb;
    --color-system-warning-100: #feefc7;
    --color-system-warning-200: #fdde8a;
    --color-system-warning-300: #fdc64c;
    --color-system-warning-400: #fcb32c;
    --color-system-warning-500: #f68d0a;
    --color-system-warning-600: #da6805;
    --color-system-warning-700: #b54708;
    --color-system-warning-800: #93360d;
    --color-system-warning-900: #782d0f;
    --color-system-warning-950: #451503;
    --color-system-info-25: #f8fcff;
    --color-system-info-50: #eff8ff;
    --color-system-info-100: #dbeefe;
    --color-system-info-200: #bee2ff;
    --color-system-info-300: #92d0fe;
    --color-system-info-400: #5ab3fc;
    --color-system-info-500: #3895f9;
    --color-system-info-600: #2277ee;
    --color-system-info-700: #1a61db;
    --color-system-info-800: #1c4eb1;
    --color-system-info-900: #1d448b;
    --color-system-info-950: #162b55;

    --leading-body: 1.5;
    --leading-base: 1.2;
    --leading-headline: 1.2;

    --tracking-l-sm: -0.1em;
    --tracking-l-md: -0.2em;
    --tracking-l-lg: -0.3em;
    --tracking-l-xl: -0.4em;
    --tracking-r-sm: 0.1em;
    --tracking-r-md: 0.2em;
    --tracking-r-lg: 0.3em;
    --tracking-r-xl: 0.4em;
}

/* Utilities */

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .h-fill {
        height: -webkit-fill-available;
        height: -moz-available;
        height: fill-available;
    }
}
/* Swiper */

.free-slider .swiper-wrapper {
    transition-timing-function: linear;
}
