.crisalixHeader :global(.crisalix-widget-micro) {
	justify-content: flex-end !important;
	display: flex !important;
	/* Desktop: 70% */
	transform-origin: top right;
	color: black !important;
	margin: 0 auto !important;
}

.crisalixHeader {
	position: sticky !important;
	top: 70px;
	z-index: 2;
	transition: 0.3s ease-in-out;
	padding: 0px 20px 5px 0;
	/* oben/unten = 0 */
	color: black !important;
	background: var(--color-background-primary);


}


.crisalixHeader * {
	color: black !important;
}

@media (max-width: 768px) {
	.crisalixHeader :global(.crisalix-widget-micro) {
		transform: scale(0.9) !important;
		/* Mobil: 90% */
		transform-origin: top right;
	}

	.crisalixHeader :global(.crisalix-widget-micro) {
		flex-direction: row !important;
	}

	.crisalixHeader :global(.crisalix-widget-micro .crisalix-widget-logo) {
		order: initial !important;
	}

	.crisalixHeader :global(.crisalix-widget-micro__content) {
		flex-direction: row !important;
		align-items: center !important;
		gap: 3.2px;
	}

	.crisalixHeader :global(.crisalix-widget-rate-text),
	.crisalixHeader :global(.carousel-reviews-count) {
		font-size: 10.8px !important;
		/* 90% von 12px */
		color: black !important;
	}

	.crisalixHeader :global(.crisalix-widget-stars__rating__svg) {
		width: 15.3px !important;
		height: 15.3px !important;
	}

	.crisalixHeader :global(.crisalix-widget-micro .crisalix-widget-logo) {
		margin-top: 0 !important;
		margin-right: 18px !important;
	}
}
